aiohttp==3.9.5
aiosignal==1.3.1
altair==5.3.0
annotated-types==0.7.0
anyio==4.4.0
asttokens 
async-timeout==4.0.3
attrs==23.2.0
beautifulsoup4==4.12.3
blinker==1.8.2
Bottleneck 
bs4==0.0.2
cachetools==5.4.0
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
comm
dataclasses-json==0.6.7
debugpy 
decorator 
distro==1.9.0
exceptiongroup 
executing 
frozenlist==1.4.1
gitdb==4.0.11
GitPython==3.1.43
google-api-core==2.19.1
google-api-python-client==2.138.0
google-auth==2.32.0
google-auth-httplib2==0.2.0
google_search_results==2.4.2
googleapis-common-protos==1.63.2
greenlet==3.0.3
h11==0.14.0
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.0
idna==3.7
ipykernel 
ipython 
jedi 
Jinja2==3.1.4
joblib 
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_client 
jupyter_core 
langchain==0.2.11
langchain-community==0.2.10
langchain-core==0.2.24
langchain-openai==0.1.19
langchain-text-splitters==0.2.2
langsmith==0.1.94
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.21.3
matplotlib-inline 
mdurl==0.1.2
multidict==6.0.5
mypy-extensions==1.0.0
nest-asyncio 
numexpr 
numpy 
openai==1.37.1
orjson==3.10.6
packaging 
pandas 
parso 
pexpect 
pillow==10.4.0
platformdirs 
prompt-toolkit 
proto-plus==1.24.0
protobuf==5.27.2
psutil 
ptyprocess 
pure-eval 
pyarrow==17.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pydantic==2.8.2
pydantic_core==2.20.1
pydeck==0.9.1
Pygments 
pyparsing==3.1.2
python-dateutil 
pytz 
PyYAML==6.0.1
pyzmq 
referencing==0.35.1
regex==2024.7.24
requests==2.32.3
rich==13.7.1
rpds-py==0.19.1
rsa==4.9
scikit-learn
scipy 
six 
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.5
SQLAlchemy==2.0.31
stack-data 
streamlit==1.37.0
tenacity==8.5.0
threadpoolctl 
tiktoken==0.7.0
toml==0.10.2
toolz==0.12.1
tornado 
tqdm==4.66.4
traitlets 
typing-inspect==0.9.0
typing_extensions 
tzdata 
uritemplate==4.1.1
urllib3==2.2.2
watchdog==4.0.1
wcwidth 
yarl==1.9.4
